<ion-view hide-nav-bar="true" class="wirpl-auth-view">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide class="wirpl-auth-slides">
            <h4>Ставь лайки тем, кто понравился</h4>
            <div class="ion-heart wirpl-heart"></div>
            <p class="wirpl-auth-sub-title">Текст</p>
        </ion-slide>
        <ion-slide class="wirpl-auth-slides">
            <h4>Добавляй те события, на которые хочешь пойти</h4>
            <div class="ion-plus wirpl-plus"></div>
            <p class="wirpl-auth-sub-title">Текст</p>
        </ion-slide>
        <ion-slide class="wirpl-auth-slides">
            <h4>Найди того, кто пойдет с тобой</h4>
            <div class="ion-shuffle wirpl-shuffle"></div>
            <p class="wirpl-auth-sub-title">Текст</p>
        </ion-slide>
    </ion-slide-box>
    <ion-footer-bar class="bar-positive">
        <button class="button wirpl-auth-button">Войти через Вконтакте</button>
    </ion-footer-bar>
</ion-view>
