<ion-tabs class="tabs-icon-top tabs-top wirpl-tabs">

  <!-- Debug Tab -->
  <ion-tab icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
           ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab>

  <!-- List Tab -->
  <ion-tab icon-off="ion-ios-shuffle" icon-on="ion-ios-shuffle-strong"
    ui-sref="main.wirpl">
    <ion-nav-view name="tab-wirpl"></ion-nav-view>
  </ion-tab>


  <!-- Debug Tab -->
  <ion-tab icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble"
           ui-sref="main.contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>

</ion-tabs>
